{% extends 'base.html.twig' %}

{% block body %}
    
<div class="content_slider">
					<ul>

						<li>
							<a href="#"><img src="images/slider/01.jpg" alt="Slider"></a>
							<div class="slider_caption">
								<div class="thumb_meta">
									<span class="category" style="background-color: #2ECC71"><a href="#">Formation </a></span>
									<span class="category"><a href="#">Programme des Jeunes</a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">Bien se former pour éduquer, et donner la chance à chaque enfant et chanque jeune</a></h3>
								</div>
							</div>
						</li>

						<li>
							<a href="#"><img src="images/slider/02.jpg" alt="Slider"></a>
							<div class="slider_caption">
								 <div class="thumb_meta">
								 	<span class="category" style="background-color: #D2527F"><a href="#">International </a></span>
									<span class="category"><a href="#">Grand Évenements</a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">La patrouille du monde</a></h3>
								</div>
							</div>
						</li>

						<li>
							<a href="#"><img src="images/slider/03.jpg" alt="Slider"></a>
							<div class="slider_caption">
								<div class="thumb_meta">
									<span class="category" style="background-color: #2574A9"><a href="#">Animation Territoriale</a></span>
									<span class="category"><a href="#">Développement Communaitaire</a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">Assurer notre développement</a></h3>
								</div>
							</div>
						</li>

						<li>
							<a href="#"><img src="images/slider/04.jpg" alt="Slider"></a>
							<div class="slider_caption">
								<div class="thumb_meta">
									<span class="category" style="background-color: #2574A9"><a href="#">Finances </a></span>
									<span class="category"><a href="#">Finances </a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">Assurer notre développement</a></h3>
								</div>
							</div>
						</li>

						<li>
							<a href="#"><img src="images/slider/05.jpg" alt="Slider"></a>
							<div class="slider_caption">
								<div class="thumb_meta">
									<span class="category" style="background-color: #2574A9"><a href="#">CENACOM </a></span>
									<span class="category"><a href="#">Administration & Qualité</a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">Se voir de tous et se faire entendre par tous</a></h3>
								</div>
							</div>
						</li>

						<li>
							<a href="#"><img src="images/slider/06.jpg" alt="Slider"></a>
							<div class="slider_caption">
								<div class="thumb_meta">
									<span class="category" style="background-color: #2574A9"><a href="#">Animation Territoriale</a></span>
									<span class="category"><a href="#">Développement Communaitaire</a></span>
								</div>
								<div class="thumb_link">
									<h3><a href="#">Assurer notre développement</a></h3>
								</div>
							</div>
						</li>

					</ul>
				</div>

				<div class="panel_title">
					<div>
						<h4><a href="#">Pour l'envol de l'ASCCI</a></h4>
					</div>
				</div>
				<div class="row">
					<div class="col col_12_of_12">
						<div class="multipack clearfix">

							<div class="layout_post_1">
								<div class="item_thumb">
									<div class="thumb_icon">
										<a href="#" style="background-color: #446CB3"><i class="fa fa-copy"></i></a>
									</div>
									<div class="thumb_hover">
										<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
									</div>
								</div>
								<div class="item_content">
									<h4><a href="#">Y croire avec Tardy</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								 </div>
							</div>

							<div class="list_posts">

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="#" style="background-color: #4183D7"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										<h4><a href="#">Bien se faire former pour éduquer</a></h4>
										<div class="item_meta clearfix">
											<span class="">Formation</span>
										</div>
									</div>
								</div>

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="#"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										<h4><a href="#">Donnerla chance à chaque enfant et à chaque jeune</a></h4>
										<div class="item_meta clearfix">
											<span class="">Programme éducatif</span>
										</div>
									</div>
								</div>

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="#" style="background-color: #4183D7"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href="#"><img src="images/croire/02.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										 <h4><a href="#">La patrouille du monde</a></h4>
										<div class="item_meta clearfix">
											<span class="">Internationnal</span>
										</div>
									</div>
								</div>

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="" style="background-color: #2ECC71"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href=""><img src="images/croire/02.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										<h4><a href="post_single.html">Assurer notre développement</a></h4>
										<div class="item_meta clearfix">
											<span class="">Annimation territoriale</span>
										</div>
									</div>
								</div>

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="#" style="background-color: #4183D7"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href="#"><img src="images/croire/02.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										<h4><a href="post_single.html">Se faire voir de tous et se faire entendre par tous</a></h4>
										<div class="item_meta clearfix">
											<span class="">Communication et Marketing</span>
										</div>
									</div>
								</div>

								<div class="post clearfix">
									<div class="item_thumb">
										<div class="thumb_icon">
											<a href="#" style="background-color: #4183D7"><i class="fa fa-copy"></i></a>
										</div>
										<div class="thumb_hover">
											<a href="#"><img src="images/croire/02.jpg" alt="Post"></a>
										</div>
									</div>
									<div class="item_content">
										<h4><a href="post_single.html">Être un partenaire utile pour la société</a></h4>
										<div class="item_meta clearfix">
											<span class="">Développement communautaire et partenariat public privé</span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel_title" style="padding: 0 15px">
						<div>
							<h4><a href="#">Infos Nations</a></h4>
						</div>
					</div>
					<div class="col col_4_of_12">

						<div class="layout_post_1">
							<div class="item_thumb">
								<div class="thumb_icon">
									<a href="#" style="background-color: #F89406"><i class="fa fa-copy"></i></a>
								</div>
								<div class="thumb_hover">
									<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
								</div>
								<div class="thumb_meta">
									<span class="category" style="background-color: #F89406"><a href="#">Louveteaux</a></span>
								</div>
							</div>
							<div class="item_content">
								<h4><a href="post_single.html">Lancement branche louveteau</a></h4>
								<div class="item_meta clearfix">
									<span class="meta_date">25 octrobre 2017</span>
								</div>
								<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
							</div>
						</div>
					</div>
					<div class="col col_4_of_12">

					<div class="layout_post_1">
						<div class="item_thumb">
							<div class="thumb_icon">
								<a href="#" style="background-color: #87D37C"><i class="fa fa-copy"></i></a>
							</div>
							<div class="thumb_hover">
								<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
							</div>
							<div class="thumb_meta">
								<span class="category" style="background-color: #87D37C"><a href="#">Eclaireurs</a></span>
							</div>
						</div>
						<div class="item_content">
							<h4><a href="#">Lancement branche eclaireur</a></h4>
							<div class="item_meta clearfix">
							<span class="meta_date">27 novembre 2017</span>
							</div>
							<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
						</div>
					</div>
					</div>
					<div class="col col_4_of_12">

					<div class="layout_post_1">
						<div class="item_thumb">
							<div class="thumb_icon">
								<a href="#" style="background-color: #D2527F"><i class="fa fa-copy"></i></a>
							</div>
							<div class="thumb_hover">
								<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
							</div>
							<div class="thumb_meta">
								<span class="category" style="background-color: #D2527F"><a href="#">Annimation territoriale</a></span>
							</div>
						</div>
						<div class="item_content">
							<h4><a href="#">Visite dans la région de Bouake</a></h4>
							<div class="item_meta clearfix">
								<span class="meta_date">27 décembre 2017</span>
							</div>
							<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
						</div>
					</div>
					</div>

				</div>
{% endblock %}

{% block accueil %}
<div class="panel_title clearfix">
			<div>
				<h4><a href="#">La régionale </a></h4>
			</div>
		</div>
		<div class="row">
			<div class="col col_3_of_12">

				<div class="layout_post_1">
					<div class="item_thumb">
						<div class="thumb_icon">
							<a href="#" style="background-color: #F89406"><i class="fa fa-copy"></i></a>
						</div>
						<div class="thumb_hover">
							<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
						</div>
						<div class="thumb_meta">
							<span class="category" style="background-color: #F89406"><a href="#">Abidjan</a></span>
						</div>
					</div>
					<div class="item_content">
						<h4><a href="post_single.html">Lancement Abidjan</a></h4>
						<div class="item_meta clearfix">
							<span class="meta_date">25 octrobre 2017</span>
						</div>
						<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
					</div>
				</div>
			</div>
			<div class="col col_3_of_12">

			<div class="layout_post_1">
				<div class="item_thumb">
					<div class="thumb_icon">
						<a href="#" style="background-color: #87D37C"><i class="fa fa-copy"></i></a>
					</div>
					<div class="thumb_hover">
						<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
					</div>
					<div class="thumb_meta">
						<span class="category" style="background-color: #87D37C"><a href="#">Yamoussoukro</a></span>
					</div>
				</div>
				<div class="item_content">
					<h4><a href="#">Investiture</a></h4>
					<div class="item_meta clearfix">
					<span class="meta_date">27 novembre 2017</span>
					</div>
					<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
				</div>
			</div>
			</div>
			<div class="col col_3_of_12">

			<div class="layout_post_1">
				<div class="item_thumb">
					<div class="thumb_icon">
						<a href="#" style="background-color: #D2527F"><i class="fa fa-copy"></i></a>
					</div>
					<div class="thumb_hover">
						<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
					</div>
					<div class="thumb_meta">
						<span class="category" style="background-color: #D2527F"><a href="#">Korhogo</a></span>
					</div>
				</div>
				<div class="item_content">
					<h4><a href="#">Conseil régional</a></h4>
					<div class="item_meta clearfix">
						<span class="meta_date">27 décembre 2017</span>
					</div>
					<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
				</div>
			</div>
			</div>
			<div class="col col_3_of_12">

			<div class="layout_post_1">
				<div class="item_thumb">
					<div class="thumb_icon">
						<a href="#" style="background-color: #D2527F"><i class="fa fa-copy"></i></a>
					</div>
					<div class="thumb_hover">
						<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
					</div>
					<div class="thumb_meta">
						<span class="category" style="background-color: #D2527F"><a href="#">Bondoukou</a></span>
					</div>
				</div>
				<div class="item_content">
					<h4><a href="#">Titularisation</a></h4>
					<div class="item_meta clearfix">
						<span class="meta_date">27 décembre 2017</span>
					</div>
					<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
				</div>
			</div>
			</div>
		</div>



		<div class="panel_title clearfix" style="margin-top: 75px">
			<div>
				<h4><a href="#">L'internationale </a></h4>
			</div>
		</div>
		<div class="row">
			<div class="col col_4_of_12">

				<div class="layout_post_1">
					<div class="item_thumb">
						<div class="thumb_icon">
							<a href="#" style="background-color: #F89406"><i class="fa fa-copy"></i></a>
						</div>
						<div class="thumb_hover">
							<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
						</div>
						<div class="thumb_meta">
							<span class="category" style="background-color: #F89406"><a href="#">Abidjan</a></span>
						</div>
					</div>
					<div class="item_content">
						<h4><a href="post_single.html">Lancement Abidjan</a></h4>
						<div class="item_meta clearfix">
							<span class="meta_date">25 octrobre 2017</span>
						</div>
						<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
					</div>
				</div>
			</div>
			<div class="col col_4_of_12">

			<div class="layout_post_1">
				<div class="item_thumb">
					<div class="thumb_icon">
						<a href="#" style="background-color: #87D37C"><i class="fa fa-copy"></i></a>
					</div>
					<div class="thumb_hover">
						<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
					</div>
					<div class="thumb_meta">
						<span class="category" style="background-color: #87D37C"><a href="#">Yamoussoukro</a></span>
					</div>
				</div>
				<div class="item_content">
					<h4><a href="#">Investiture</a></h4>
					<div class="item_meta clearfix">
					<span class="meta_date">27 novembre 2017</span>
					</div>
					<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
				</div>
			</div>
			</div>
			<div class="col col_4_of_12">

				<div class="layout_post_1">
				<div class="item_thumb">
					<div class="thumb_icon">
						<a href="#" style="background-color: #D2527F"><i class="fa fa-copy"></i></a>
					</div>
					<div class="thumb_hover">
						<a href="#"><img src="images/croire/01.jpg" alt="Post"></a>
					</div>
					<div class="thumb_meta">
						<span class="category" style="background-color: #D2527F"><a href="#">Korhogo</a></span>
					</div>
				</div>
				<div class="item_content">
					<h4><a href="#">Conseil régional</a></h4>
					<div class="item_meta clearfix">
						<span class="meta_date">27 décembre 2017</span>
					</div>
					<p>In et consequat nisi, at arcu. In hac habitasse platea dictumst. Fusce vestibulum tincidunt magna vitae scelerisque. Pellentesque venenatis velit ut feugia [...]</p>
				</div>
				</div>
			</div>
		</div>
{% endblock %}
