<!DOCTYPE html>
<html>
<head>
    <title>ASCCI::ASSOCIATION DES SCOUTS CATHOLIQUES DE COTE D'IVOIRE</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('backoffice/css/bootstrap.min.css') }}">
</head>
<body>
<img src="{{ asset('ressources/images/intro.png') }}" class="img-responsive">
</body>
</html>