                    <ul class="sub-menu" style="border-top-color: #F89406"> 
						{% for menu in menus %}
                        <li><a href="{{ path('fo_chef', {'slug': menu.slug})}}">{{ menu.libelle }}</a></li>  
                        {% endfor %}
					</ul>