<div class="widget" style="margin-top: 75px; margin-bottom: 75px">
					<div class="widget_title"><h3></h3></div>
					<div class="tb_widget_socialize clearfix">
						<a href="https://www.youtube.com/channel/UC4sBe_evvjQ-5Vo6frUyyjA/videos" target="_blank" title="Notre chaine youtube">
                            <img src="{{ absolute_url(asset('ressources/images/camp-branche.jpg')) }}" class="img-thumbnail img-page" />
                        </a>
					</div>
				</div>