{% extends 'base.html.twig' %}

{% block title %}Page en maintenance{% endblock %}


{% block body %}
<h1 class="page_title">Oups !!!!</h1>

<div class="page_404">
	<h3>404</h3>
	<h4>Désolez, cette page est en maintenance...</h4>
	<p>Donc nous vous prions de bien vouloir revenir ultérieurement. <br>
	Veuillez aussi vous inscrire à notre newsletter pour recevoir réguilièrement nos informations</p><br>	
	<a href="http://scoutascci.us15.list-manage.com/subscribe?u=e45cc25b19cab92147264a631&id=2938902cc7" class="button btn btn_blue" target="_blank">S'inscrire à notre Nwesletter</a>
	
</div>
{% endblock %}

{% block accueil %}{% endblock %}
