{% for publicite in publicites %}
                    <div class="widget">
					<div class="widget_title"><h3></h3></div>
					<div class="tb_widget_socialize clearfix">
						<img src="{{ asset('uploads/publicites/'~ publicite.imageName) | imagine_filter('publicite') }}" alt="{{ publicite.titre }}" title="{{ publicite.titre }}">
						<!---->
					</div>
				</div>
{% endfor %}