{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel_title" style="padding: 0 15px">
        <div>
            <h4><a href="#">Modification d'utilisateur</a></h4>
        </div>
    </div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="row mt-40">
        <div class="col col_6_of_12">.</div>
        <div class="col col_2_of_12 text_right">
            <input type="submit" value="Modifier" class="btn btn-signup" />
        </div>
        <div class="col col_3_of_12 text_left">
            <a href="{{ path('admin_user_index') }}" class="btn btn-success">Retour à la liste des utilisateurs</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
